@model IEnumerable<Gift>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@



	@foreach (var item in Model)
	{
		<div class="col-lg-3 col-sm-6 col-12">
			<div class="card card-product grid-2 bg-transparent border-0" data-animate="fadeInUp">
				<figure class="card-img-top position-relative mb-7 overflow-hidden">
				<a asp-action="GiftDetails" asp-controller="Home" asp-route-id="@item.GiftId" class="hover-zoom-in d-block" title="Shield Conditioner">
					<img src="@item.ImageUrl" class="img-fluid lazy-image w-100" alt="Shield Conditioner" width="270" height="360" style="object-fit: cover; width: 270px; height: 360px;">
					</a>

					<div class="position-absolute product-flash z-index-2 "><span class="badge badge-product-flash on-sale bg-primary">-25%</span></div>
					<div class="position-absolute d-flex z-index-2 product-actions  vertical">


						@*<form asp-action="AddToFavorites" asp-controller="Home" method="post">
					<input type="hidden" name="giftId" value="@product.Id" />
					<button type="submit">أضف إلى المفضلة</button>
					</form>*@

						<form asp-action="AddToFavorites" method="post">
							<input type="hidden" name="giftId" value="@item.GiftId" />
							<button type="submit" class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm wishlist sm"
									data-bs-toggle="tooltip"
									data-bs-placement="left"
									data-bs-title="Add To Wishlist">
								<svg class="icon icon-star-light">
									<use xlink:href="#icon-star-light"></use>
								</svg>
							</button>
						</form>

						@*<a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm wishlist sm" href="#" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Add To Wishlist">
					<svg class="icon icon-star-light">
					<use xlink:href="#icon-star-light"></use>
					</svg>
					</a>*@

					</div>
@*					<a href="#" class="btn btn-add-to-cart btn-dark btn-hover-bg-primary btn-hover-border-primary position-absolute z-index-2 text-nowrap btn-sm px-6 py-3 lh-2">Add To Cart</a>
*@				</figure>
				<div class="card-body text-center p-0">






					<span class="d-flex align-items-center price text-body-emphasis fw-bold justify-content-center mb-3 fs-6">
						<del class=" text-body fw-500 me-4 fs-13px">$40.00</del>
						<ins class="text-decoration-none">$ @item.Price</ins>
					</span>

					<h4 class="product-title card-title text-primary-hover text-body-emphasis fs-15px fw-500 mb-3"><a class="text-decoration-none text-reset" asp-action="GiftDetails" asp-controller="Home" asp-route-id="@item.GiftId">@item.Name</a></h4>
				</div>
			</div>

		</div>

	}
