@model IEnumerable<GiftStore.Models.Slider>

@{
    ViewData["Title"] = "Index";
}

@*<h1>Index</h1>
*@
@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SliderImg1)
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.SliderImg2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SliderImg3)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @if (!string.IsNullOrEmpty(item.SliderImg1))
                    {
                        <img src="@item.SliderImg1" alt="Slider Image" style="width: 200px; height: auto;" />
                    }
                    else
                    {
                        <span>No Image</span>
                    }
                @*@Html.DisplayFor(modelItem => item.SliderImg1)*@
            </td>
           
            <td>
                    <a asp-action="Edit" asp-route-id="@item.SliderId" class="btn btn-primary py-4 px-5 btn-xs fs-13px me-4"><i class="far fa-pen me-2"></i> Edit</a>
                    <a asp-action="Details" asp-route-id="@item.SliderId" class="btn btn-primary py-4 px-5 btn-xs fs-13px me-4"><i class="far fa-pen me-2"></i> Details</a>
                    <a asp-action="Delete" asp-route-id="@item.SliderId" class="btn btn-outline-primary btn-hover-bg-danger btn-hover-border-danger btn-hover-text-light py-4 px-5 fs-13px btn-xs me-4"><i class="far fa-trash me-2"></i> Delete</a>

                @*<a asp-action="Edit" asp-route-id="@item.SliderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SliderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SliderId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
